<!DOCTYPE html>
<html>
<head>
    <!-- Add necessary meta tags, CSS, and other header elements here -->
    <style>
        #main_header {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            background-color: #eee; 
            padding: 10px; 
            z-index: 100; 
            text-align: center; 
            font-family: 'Arial', sans-serif; 
            font-size: 50px;
            font-weight: bold; 
        }
    </style>
</head>
<body>
    <header id="main_header">
        PESTBUSTERAI 
    </header>
    <nav>
        <ul>
            <a href="/">Home</a></li>
            <a href="/full_log">Full Log</a></li>
            <a href="/stats">Statistics</a></li>
        </ul>
    </nav>
    <main>
        {% block content %}{% endblock %}
    </main>
    
</body>
</html>
