{% extends "base.html" %}
{% block content %}
    <title>Full Log</title>

    <style>
        h1 {
            padding-top: 150px;
            text-align: center;
        }

        .log-container {
            display: flex;
            justify-content: space-around;
        }

        .log {
            text-align: center;
        }
    </style>
    <h1>Full Log</h1>
    <div class="log-container">
        <div class="log">
            <h2>Pest Log:</h2>
            <ul>
                {% for line in lines %}
                    {% if line.startswith('pest') %}
                        <li>{{ line }}</li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        <div class="log">
            <h2>Friend Log:</h2>
            <ul>
                {% for line in lines %}
                    {% if line.startswith('friend') %}
                        <li>{{ line }}</li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}