<html>
<head>
    <title>Motion Detection Log</title>
    <style>
        table {
            border-collapse: collapse;
            width: 50%;
            margin: 20px auto;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: center;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <br>
    <br>
    <br>
    {% extends "base.html" %}
    {% block content %}
    <h1>Motion Detection Log</h1>
    <table>
        <tr>
            <th>Time (Hour)</th>
            <th>Pest Count</th>
            <th>Friend Count</th>
        </tr>
        <tr>
            <td>0</td>
            <td>{{ motion_data[0]['pest'] }}</td>
            <td>{{ motion_data[0]['friend'] }}</td>
            

        </tr>
        <tr>
            <td>1</td>
            <td>{{ motion_data['pest'] }}</td>
            <td>{{ motion_data['friend'] }}</td>
            

        </tr>
        <tr>
            <td>2</td>
            <td>{{ motion_data['pest'] }}</td>
            <td>{{ motion_data['friend'] }}</td>
            

        </tr>
        <tr>
            <td>3</td>
            <td>{{ motion_data['pest'] }}</td>
            <td>{{ motion_data['friend'] }}</td>
            

        </tr>
        <tr>
            <td>4</td>
            <td>{{ motion_data['pest'] }}</td>
            <td>{{ motion_data['friend'] }}</td>
            

        </tr>
        <tr>
            <td>5</td>
            <td>{{ motion_data['pest'] }}</td>
            <td>{{ motion_data['friend'] }}</td>
            

        </tr>
        <tr>
            <td>6</td>
            <td>{{ motion_data['pest'] }}</td>
            <td>{{ motion_data['friend'] }}</td>
            

        </tr>
        <tr>
            <td>7</td>
            <td>{{ motion_data['pest'] }}</td>
            <td>{{ motion_data['friend'] }}</td>
            

        </tr>
        <tr>
            <td>8</td>
            <td>{{ motion_data['pest'] }}</td>
            <td>{{ motion_data['friend'] }}</td>
            

        </tr>
        <tr>
            <td>9</td>
            <td>{{ motion_data['pest'] }}</td>
            <td>{{ motion_data['friend'] }}</td>

        </tr>
        <tr>
            <td>10</td>
            <td>{{ motion_data['pest'] }}</td>
            <td>{{ motion_data['friend'] }}</td>

        </tr>
        <tr>
            <td>11</td>
            <td>{{ motion_data['pest'] }}</td>
            <td>{{ motion_data['friend'] }}</td>
            

        </tr>
        <tr>
            <td>12</td>
            <td>{{ motion_data['pest'] }}</td>
            <td>{{ motion_data['friend'] }}</td>
            

        </tr>
        <tr>
            <td>13</td>
            <td>{{ motion_data['pest'] }}</td>
            <td>{{ motion_data['friend'] }}</td>
            

        </tr>
        <tr>
            <td>14</td>
            <td>{{ motion_data[14]['pest'] }}</td>
            <td>{{ motion_data[14]['friend'] }}</td>
            

        </tr>
        <tr>
            <td>15</td>
            <td>{{ motion_data['pest'] }}</td>
            <td>{{ motion_data['friend'] }}</td>
            

        </tr>
        <tr>
            <td>16</td>
            <td>{{ motion_data['pest'] }}</td>
            <td>{{ motion_data['friend'] }}</td>
            

        </tr>
        <tr>
            <td>17</td>
            <td>{{ motion_data['pest'] }}</td>
            <td>{{ motion_data['friend'] }}</td>
            

        </tr>
        <tr>
            <td>18</td>
            <td>{{ motion_data['pest'] }}</td>
            <td>{{ motion_data['friend'] }}</td>
            

        </tr>
        <tr>
            <td>19</td>
            <td>{{ motion_data['pest'] }}</td>
            <td>{{ motion_data['friend'] }}</td>
            

        </tr>
        <tr>
            <td>20</td>
            <td>{{ motion_data['pest'] }}</td>
            <td>{{ motion_data['friend'] }}</td>
            

        </tr>
        <tr>
            <td>21</td>
            <td>{{ motion_data['pest'] }}</td>
            <td>{{ motion_data['friend'] }}</td>
            

        </tr>
        <tr>
            <td>22</td>
            <td>{{ motion_data['pest'] }}</td>
            <td>{{ motion_data['friend'] }}</td>
            

        </tr>
        <tr>
            <td>23</td>
            <td>{{ motion_data['pest'] }}</td>
            <td>{{ motion_data['friend'] }}</td>
            

        </tr>
    
    </table>
    {% endblock %}

</body>
</html>
