<html>
<head>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
    <title>Motion Detection Log</title>
    <style>
        table {
            border-collapse: collapse;
            width: 50%;
            margin: 20px auto;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: center;
        }
        th {
            background-color: #901f1f;
        }
        h1{
            text-align: center;
            padding-top: 20px;
            padding-bottom: 20px;

        }
        .myDiv {
            width: 100%;
        }
    </style>
</head>
<body>
    <br>
    <br>
    <br>
    {% extends "base.html" %}
    {% block content %}
    <br>
    <br>
    <br>
    <br>
    <h1>Motion Detection Log</h1>
    <table>
        <tr>
            <th>Time (Hour)</th>
            <th>Pest Count</th>
            <th>Friend Count</th>
        </tr>
    <table>
        </tr>
        {% for hour in motion_data %}
        <tr>
            <td>{{ loop.index0}}</td>
            <td>{{ motion_data[hour]['pest'] }}</td>
            <td>{{ motion_data[hour]['friend'] }}</td>
        </tr>
        {% endfor %}
        
    </table>
    <div class="myDiv" id="myDiv">
    </div>

    {% endblock %}

    <script>
    var trace1 = {
    x: ['giraffes', 'orangutans', 'monkeys'],
    y: [20, 14, 23],
    name: 'SF Zoo',
    type: 'bar'
    };

    var trace2 = {
    x: ['giraffes', 'orangutans', 'monkeys'],
    y: [12, 18, 29],
    name: 'LA Zoo',
    type: 'bar'
    };

    var data = [trace1, trace2];

    var layout = {barmode: 'group'};

    Plotly.newPlot('myDiv', data, layout);
    </script>

</body>

</html>