{% extends "base.html" %}
{% block content %}
<style>
    .report-container {
        padding-top: 150px;
        text-align: center;
    }

    h1 {
        margin-bottom: 20px;
        font-size: 2.5em;
    }

    h2 {
        margin-top: 20px;
        font-size: 2em;
    }

    p {
        margin-top: 10px;
        font-size: 1.5em;
    }

    .chart-container {
        width: 80%;
        margin: auto;
    }

    .navigation-links {
        text-align: center;
        margin-top: 30px;
    }

    .navigation-links a {
        margin: 0 20px;
        font-size: 22px;
        font-weight: bold;
        text-decoration: none;
        color: black;
    }

    .navigation-links a:hover {
        text-decoration: underline;
        background: none;
    }
</style>

<div class="report-container">
    <h1>End of Day Report for {{ date.strftime('%Y-%m-%d') }}</h1>

    <h2>Summary</h2>
    <p>Total Pest Detections: {{ total_detections }}</p>
    <p>Number of Pests: {{ num_pests }}</p>
    <p>Number of Friends: {{ num_friends }}</p>

    <h2>Detailed Pest Activity Log</h2>
    <p>Click <a href="{{ url_for('show_full_log', date=date.strftime('%Y-%m-%d')) }}" style="color: blue;">here</a> to
        view the detailed pest activity log for the day.</p>

    <h2>Graph of Friend Occurrences</h2>
    <div class="chart-container">
        <div id="friendChart"></div>
    </div>

    <div class="navigation-links">
        <a href="{{ url_for('daily_report', date=previous_date) }}">&larr; Previous Day</a>
        {% if show_next_day_link %}
        <a href="{{ url_for('daily_report', date=next_date) }}">Next Day &rarr;</a>
        {% endif %}
    </div>
</div>

<!-- Load Plotly.js -->
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script>
    var friendCounts = JSON.parse('{{ friend_counts|tojson|safe }}');
    var labels = Object.keys(friendCounts);
    var data = Object.values(friendCounts);

    var trace = {
        x: labels,
        y: data,
        type: 'bar',
        marker: {
            color: 'rgba(75, 192, 192, 0.2)',
            line: {
                color: 'rgba(75, 192, 192, 1)',
                width: 1
            }
        }
    };

    var layout = {
        xaxis: {
            title: 'Type of Friend'
        },
        yaxis: {
            title: 'Number of Detections'
        }
    };

    Plotly.newPlot('friendChart', [trace], layout);
</script>
{% endblock %}